In [1]:
'2'+'4'

'24'

In [2]:
int('2'+'4')

24

In [3]:
int('2')+int('4')

6

In [4]:
gi='Hello World'

In [5]:
gi.count

In [6]:
gi.count

In [7]:
gi.center

In [8]:
gi

'Hello World'

In [9]:
print(gi)

Hello World

In [10]:
gi.split()

['Hello', 'World']

In [11]:
gio='Hello'
gio.split('l')

['He', '', 'o']

In [12]:
print('The {} {} a {}'.format('Man','Hunt','Pony'))

The Man Hunt a Pony

In [13]:
print('The {2} {1} a {0}'.format('Man','Hunt','Pony'))

The Pony Hunt a Man

In [14]:
print('The {M} {H} a {P}'.format(M='Man',H='Hunt',P='Pony'))

The Man Hunt a Pony

In [15]:
mylist=[3,'Hello',3.67]

In [16]:
mylist[2]='Hi'

In [17]:
mylist

[3, 'Hello', 'Hi']

In [18]:
mylist.append('Age')
mylist

[3, 'Hello', 'Hi', 'Age']

In [19]:
new_list =['a','d','e','b','c']
num_list=[1,2,3,4,5]

In [20]:
new_list.sort()
new_list

['a', 'b', 'c', 'd', 'e']

In [21]:
num_list.reverse()
num_list

[5, 4, 3, 2, 1]

In [22]:
num_list.pop()
num_list

[5, 4, 3, 2]

In [25]:
my_dictionary={'key1':'concontent','apple':2.99,'milk':5}
my_dictionary['milk']

5

In [30]:
Dicty={'d1':[4,5,'letter'],'d2':'2','d3':58}
Dicty['d1'][1]

5

In [31]:
Dicty['d1'][2].upper()

'LETTER'

In [32]:
Dicty['d2']=35

In [34]:
Dicty['d4']='newvalue'

In [35]:
Dicty

{'d1': [4, 5, 'letter'], 'd2': 35, 'd3': 58, 'd4': 'newvalue'}

In [36]:
Dicty.keys()

dict_keys(['d1', 'd2', 'd3', 'd4'])

In [37]:
Dicty.values()

dict_values([[4, 5, 'letter'], 35, 58, 'newvalue'])

In [38]:
Dicty.items()

dict_items([('d1', [4, 5, 'letter']), ('d2', 35), ('d3', 58), ('d4', 'newvalue')])

In [40]:
tup=(5,3,2)
lis=[5,9,7]

In [42]:
lis[0]='new'

In [46]:
tup.count(9)

0

In [47]:
myset= set()
myset.add(3)

In [48]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [51]:
%%writefile Testfile.txt
Hello this is a text file
this is the second line
this is the thid line

Writing Testfile.txt

In [53]:
Testfile= open('Testfile.txt')

In [54]:
pwd

'C:\\Users\\GGD\\Documents\\PythonClasses'

In [55]:
Testfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thid line \n'

In [56]:
Testfile.read()

''

In [57]:
Testfile.seek(0)

0

In [58]:
Testfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the thid line \n']

In [60]:
Testfile.close()

In [61]:
with open('Testfile.txt',mode='a') as Testfile:
    
    Testfile.write('Four line test')

In [62]:
with open('Testfile.txt',mode='r') as Testfile:
    
    print(Testfile.read())

Hello this is a text file
this is the second line
this is the thid line
Four line test

In [64]:
with open('deleteTestfile.txt',mode='w') as m:
    
    m.write('Create with mode w')

In [71]:
with open('deleteTestfile.txt',mode='r')as n:
          print(n.read())

Create with mode w

In [5]:
mylist0=[1,2,3]
mylist1=['a','b','e']

In [4]:
word='abcedo'
for index,letter in enumerate(word):#return index and value
    print (index)
    print(letter)

0
a
1
b
2
c
3
e
4
d
5
o

In [14]:
for item in zip(mylist0,mylist1):
    print (item)

(1, 'a')
(2, 'b')
(3, 'e')

In [16]:
'x' in mylist1#Could be list Tupels or Dictionaries

False

In [19]:
from random import randint #Grap a rand integer

In [21]:
randint(0,29)

27

In [22]:
result= input('Enter a number here')#Always accepts things as a srting

Enter a number here3

'3'

In [4]:
letter= 'anxiety disorder'
mylist=[letter for letter in letter]

In [9]:
mylist=[n for n in range (0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
mylist=[nu**2 for nu in range (0,11) if nu%2==0]#Not htat easy to understand to double check 
mylist

[0, 4, 16, 36, 64, 100]